mat-toolbar{
    background-color: #348cb7;
    color: white;
    display: flex;
    justify-content:space-between;
}

mat-form-field{

    width: 90% !important;
    margin-left: 5%;
    padding-top: 10px;
}
